
.container{
  margin-top: 50px;
}

.nav-item{
  margin-right: 5px;
  margin-top: 5px;
}

.col-md-7{
  padding: 40px 0px;
}

.featurette-heading{
  text-align: center;
}

.col-12{
  text-align: center;
}
#first_massage{
 background-color: #b2d8ff;
}

#my_profiel{
  background-color: #b2d8ff;
}

h3{
  color: #b2d8ff;
}

