#about_page
{
  margin: 100px  40px;}
p{
  color: #cbb994;
}

li{
  color: #cbb994;
}

a{
  color: #b2d8ff;

}

h3{
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: #cbb994;
}

.tittle h2{
  margin: 0 0 30px 0;
  padding-bottom: 14px;
  border-bottom: solid 1px #ccc;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  letter-spacing: 0.05em;
  font-size: 20px;
  color: #eddbff;
}

.about_block{
  margin-bottom: 40px;
}
.about_profiel{
  padding: 0px 0px;
}
.about_profiel {
}

.about_profiel img{
  width: 100%;
}

.text_area{
  margin: px auto;

}


.text_area00{
  padding: 20px 0px;
}
.profiel_more{
  margin-top: 40px;
  padding: 40px;
  float: none;
  border-top:solid 1px #ccc;
}

.col-md-9{
  padding: 40px 0px;
}

col-md-3{
  padding: 40px 0px;
}