
body {
  font-family: "游ゴシック", "ヒラギノ角ゴ Pro W3", "メイリオ", sans-serif;
}


/*btn*/
.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f3b5d1;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px #f3b5d1;
  border: dashed 1px #FFF;
  text-align: center;
  width: 200px;
}

.square_btn:hover{
  background-color: #ffc0cb;
  box-shadow: 0px 0px 0px 5px #ffc0cb;

}


.btn{
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}


.hide{
  opacity: 1;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .hide {
    opacity: 1;
    visibility: visible;
  }
}

h2,h3{
  text-align: center;
  color: white;

}

h2{
  font-size: 42px;
  margin-bottom: 10px;
  font-family: 'Chelsea Market', cursive;
  color: white;
  letter-spacing: 0.15em;

}


a{
  color: #cbb994;
}

a:hover{
  color: white;
  text-decoration: none;
}


h3 {
  font-size: 20px;
}

p{
  text-align: center;
}

.read{
  font-size: 12px;

}


.header {
  background-color: #f3b5d1;
  color: #fff;
  height: 90px;
}
.header-logo {
  float: left;
  font-size: 36px;
  padding:20px 40px;

}

.header-list {
  float: right;
}


 .main_v img{
   width: 100%;
   margin-top: 70px;
 }

@media screen and (max-width: 768px) {
  .main_v img{
    width: 100%;
    margin-top: 60px;
  }

}




/*セクションmessage*/
#massage{
  margin-top:50px ;
}
#massage h3{
  text-align: center;
  font-size: 20px;
  color: #cbb994;
}

@media screen and (max-width: 768px) {
  #massage{
    margin-top:20px ;
  }
  #massage h3{
    text-align: center;
    font-size: 15px;
    color: #cbb994;
  }

}


.title{
  margin-bottom: 30px;
}
/*セクションskill*/
#skill {
  margin-top: 50px;
  background-color: #fee0d2;
  width: 100%;
  padding-top: 20px;


}

#work {
  margin :50px auto;
  width: 90%;
  padding: 50px 0px;
  background-color: #dad3cb;
  border-radius: 6px;

}

#work img{
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding: 5px;
  transition: 1.0s
}
#work img:hover {
  opacity: 0.5 ;
}


#fanart{
  margin :60px auto;
  width: 90%;
  padding: 50px 0px;
  border-radius: 6px;

}
#fanart img{
  width: 100%;
  height: 280px;
  object-fit: cover;
  padding: 0px;
  border:7px solid white;


}
#fanart p:hover img {border:3px solid #f3b5d1}

#fanart h2{
  color: #e6c3c3;
}
.art img{
  width: 100%;
  text-align: center;
  background-color: white;

}

.ttl_coment{
  font-size: 20px;
  color:#4D3B32;
  margin: 30px 0px;
  font-weight: bold;
  letter-spacing: 0.15em;
}

@media screen and (max-width: 768px) {
  #fanart{
    margin :30px auto;
    width: 90%;
    padding: 30px 0px;
    background-color: #dad3cb;
    border-radius: 6px;

  }
  .ttl_coment{
    font-size: 10px;
  }
  h2{
    font-size: 40px;
    margin-bottom: 10px;
    font-family: 'Chelsea Market', cursive;
    color: white;
    letter-spacing: 0.15em;

  }
  #work {
    margin :30px auto;
    width: 90%;
    padding: 30px 0px;
    background-color: #dad3cb;
    border-radius: 6px;

  }

}
.icon img{
  width: 100%;
  text-align: center;

}

.text01{
  float: none;
}

.img{

}

.footer p{
  text-align: center;
}


.section01{
  width: 80%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 30px;

}

.section01 section{
  margin: 10px;
  -webkit-box-flex: 1;
  flex: 1;
}

.section01 img{
  width: 70%;
}

@media screen and (max-width: 768px) {
  .section01{
    -webkit-box-orient:vertical;
    flex-direction: column;
    margin: 0 auto;
    padding: 0 30px;
  }
  .section01 img{
    width: 40%;
  }
}


@media screen and (max-width: 768px) {
  h2 img{
    width: 100px;
  }
  .header-logo {
    float: none;
    font-size: 20px;


  }
}

footer{
  background-color: #f3b5d1;
  color: #fff;
  bottom:0;
  clear: both;
  position: relative;
  height: 50px;
  padding: 10px 0px;

}

#global-nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  width: 200px;
  margin: 0 auto;
}
#global-nav a::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: #f3b5d1;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}
#global-nav a:hover::after {
  transform: scale(1, 1);
}





/*ここからハンバーガーメニュー*/

.inner {
  margin: 0 auto;
}
.inner:after {
  content: "";
  clear: both;
  display: block;
}



/* Toggle Button */
.toggle{
  width: 64px;
  height: 64px;
  position: absolute;
  border: 3px solid #f3b5d1;
  background-color: #fff;
  border-radius: 35px;
  right: 20px;
  top:20px;
  z-index: 3;

}


#nav-toggle {
  display: block;
  position: absolute;
  right: 36px;
  top: 35%;
  cursor: pointer;
  z-index: 101;
  left: 50%;
  width: 25px;
  height: 4px;
  margin: -2px 0 0 -12px;
}
#nav-toggle div {
  position: relative;
}
#nav-toggle span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: #f3b5d1;
  left: 0;
  -webkit-transition: .35s ease-in-out;
  -moz-transition: .35s ease-in-out;
  transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
  top: 0;
}
#nav-toggle span:nth-child(2) {
  top: 11px;
}
#nav-toggle span:nth-child(3) {
  top: 22px;
}

  #top-head,
  .inner {
    width: 100%;
    padding: 0;
  }


  #global-nav {
    position: absolute;
    /* 開いてないときは画面外に配置 */
    top: -570px;
    background: rgba(234, 234, 234, 0.95);
    width: 100%;
    text-align: center;
    padding: 10px 0;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
  }
  #global-nav ul {
    padding-top: 50px;
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 14px;
  }
  #global-nav ul li {
    float: none;
    position: static;
  }

  #global-nav ul li:after {
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    bottom: -20px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
  }

  #top-head #global-nav ul li a,
  #top-head.fixed #global-nav ul li a {
    display: block;
    color: #cbb994;
    padding: 18px 0;
  }
  #nav-toggle {
    display: block;
  }
  /* #nav-toggle 切り替えアニメーション */
  .open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
  }
  .open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
  }
  /* #global-nav スライドアニメーション */
  .open #global-nav {
    /* #global-nav top + #mobile-head height */
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
  }

  .box{
    margin-top: 150px;
  }

@media screen and (max-width: 768px) {
  .box{
    margin-top: 100px;
  }
}