

.header{
  margin-bottom: 100px;
}

.body{
  margin-top: 300px;
}

.footer{
  background-color: #b2d8ff;
}

.text_area{
  margin: 50px 0px;
}

.text_area img{
  margin: 20px 0px;
}


.text_area img{
  margin: 20px 0px;
}

.title h6{
  font-size: 15px;
  color: #cccccc;
  text-align: left;
}

.text_area p{
  line-height: 15px;
  font-size: 14px;
}

h4,h6{
  text-align: center;
}

.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
}

.left_area{
  display: block;
  margin: 0 auto;
  float: right;
}

.footer{
 height: 50px;
 padding: 15px 0px;

}

.footer p{
  text-align: center;
  font-size: 12px;
}

.icon_area img{
  margin: 20px 0px;
  width: 40%;

}

.list-group-item p{
  font-size: 12px;
}



.sns_bottan {
  margin-bottom: 10px;
  display: -webkit-flex;
  display: flex;
}
.sns_bottan img { width: calc( 100% / 2 ); height: calc( 100% / 2 ); }